<header class="col-12 mt-3">
    <h4>Lista de produtos</h4>
</header>
<section class="col-12 mt-4">
    <!-- <div class="col-12 input-group d-flex justify-content-end">
        <input class="form-control col-3" type="text" #pesquisa>
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button" id=""></button>
        </div>
    </div> -->
    <div class="mt-3 mb-0">
        <div class="d-flex justify-content-between">
            <div class="form-group input-group col-4">
                Pesquisa: <input class="form-control ml-2" (keyup)="pesquisa(textPesquisa)" type="text" #textPesquisa/>
                <div class="input-group-append">
                    <button class="btn btn-dark" type="button" id="pesquisa"></button>
                </div>
            </div>
            <div>
               <button class="btn btn-outline-dark">Cadastra categoria</button> 
               <button class="btn btn-outline-dark ml-3">Cadastra produto</button> 
            </div>
        </div>
    </div>
    <table class="col-12 mt-4 flex-column justify-content-between mb-5">
        <tr id="tituloTabelas" class="text-center">
            <th style="width: 10px;">id</th>
            <th style="width: 200px;">titulo</th>
            <th style="width: 400px;">descrição</th>
            <th style="width: 100px;">valor</th>
            <th style="width: 100px;">valor desc</th>
            <th style="width: 130px;">categoria</th>
            <th style="width: 100px;">editar</th>
        </tr>
        <tbody>
            <tr id="linhasTabelas" *ngFor="let produto of listaProdutos | slice: pageSelect.inicio:pageSelect.fim; index as i">
                <th class="text-center">{{produto.idProduto}}</th>
                <th>{{produto.tituloProduto}}</th>
                <th>{{produto.descricao}}</th>
                <th class="text-center">{{ mascaraValor(produto.valor) }}</th>
                <th class="text-center">{{ mascaraValor(produto.valorDesconto) }}</th>
                <th class="text-center">{{ getNomeDaCategoria(produto.categoria) }}</th>
                <th class="d-flex justify-content-around">
                    <!-- <img src="../../../assets/img/pencil.png" width="14px" alt=""> -->
                    <img class="editar" (click)="editar(produto); modalEditar.show()" src="../../../assets/img/pencil.png" width="14px" alt="">
                </th>
            </tr>
        </tbody>
    </table>
    <div class="col-12 d-flex justify-content-center">
        <div *ngFor="let page of paginas">
            <p class="m-3 page" [class.selected]="page.selected" (click)="selecionarPagina(page)">{{ page.page }}</p>
        </div>
    </div>
</section>

<div
  mdbModal
  #modalEditar="mdbModal"
  class="modal fade top"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="overflow-y: auto"
>
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title text-white w-100">Editar Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalEditar.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #formProduto>
                    <div class="md-form mb-5 d-flex">
                        <label class="col-2 texte-center align-items-center mt-2" for="idIitulo">Titulo: </label>
                        <input mdbInput type="text" id="idIitulo" class="form-control col-9" name="titulo" [formControl]="tituloInput" [(ngModel)]="tituloInput.value">
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-success rounded" id="btnEnviarEmail">Enviar</button>
                <button type="button" class="btn btn-outline-danger rounded" (click)="modalEditar.hide()">Voltar</button>
            </div>
        </div>
    </div>
</div>