* {
    /* font-family: 'Poppins', sans-serif; */
}

section {
    /* width: 440%; */
    height: 100vh;
}

header {
    padding: 20px 15px 10px 15px;
    font-family: 'Poppins', sans-serif;
    width: 85vw;
}

header h1 {
    font-size: 25px;
    font-weight: 800;
}

header h3 {
    margin-top: 20px;
    font-size: 16px;
    font-style: italic;
}

/* estilização do Range selection in a popup */
.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.resultados {
    background-color: rgba(233, 241, 241, 0.473);
    height: 15vh;
    border-radius: 4px;
    margin: 0px 5px 0px 5px;
    display: flex;
}

.resultados h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.resultados h5 {
    font-size: 24px;
    font-weight: bolder;
}

#TtlCliente {
    font-size: 25px;
}

.textTtlCliente {
    font-size: 12px;
    font-style: italic;
}

.status .tituloStatus {
    font-style: italic;
}

#ttTabelasStatus {
    background-color: rgb(227, 227, 233);
}

#ttTabelasStatus th {
    font-weight: 400;
    font-size: 14px;
}

#linhasTabelas th {
    font-size: 14px;
    font-weight: 400;
}