<header class="d-flex justify-content-center align-items-center">
    <img class="" src="../../../assets/img/process.png" height="40px" alt="">
    <div [class.navbar-canto]="navbarAjustado" class="col-8">
        <h4>Pano Online</h4>
        <p>Retaguarda</p>
    </div>
</header>
<div class="dropdown-divider"></div>
<div class="flex-column mt-4">
    <ul ngbNav [(activeId)]="route.fragment" class="flex-column">
        <div id="login" class="col-12 mt-3 flex-column justify-content-center align-items-center mb-2">
            <div class="col-12 d-flex justify-content-center">
               <img class="align-self-center" id="fotoLogin" src="https://thispersondoesnotexist.com/image" alt=""> 
            </div>
            <p class="text-center" [class.navbar-canto]="navbarAjustado">login</p>
        </div>
        <li class="linkPage"   [ngbNavItem]='link.fragment' *ngFor="let link of links">
            <a class="link flex-column text-center" [class.is-selecionado]="link.selected"  (click)="isCheck(link.id)" ngbNavLink routerLink="{{ link.fragment }}">
                <div *ngIf="link.selected">
                    <img src="{{link.imgCheck}}" height="40px" alt="{{ link.title }}">
                </div>
                <div *ngIf="!link.selected">
                    <img src="{{link.img}}" height="35px" alt="">
                </div>
                <p class="mt-2 mb-1" [class.navbar-canto]="navbarAjustado" >{{ link.title }}</p>
            </a>
        </li>
    </ul>
    <div class="flex-column mt-5 align-self-end">
        <div id="logout" class="col-12 d-flex justify-content-center mb-4">
            <img (click)="modalLogout.show()" src="../../../assets/img/logout.png" alt="logout">
        </div>
        <div class="col-12 d-flex justify-content-center">
            <!-- <p id="ajustar" (click)="ajustarNavbar()" >ajustar</p> -->
            <div *ngIf="navbarAjustado">
                <!-- <p id="ajustar" (click)="ajustarNavbar()" >ajustar</p> -->
                <img class="ajustarNavbar" src="../../../assets/img/next.png" (click)="ajustarNavbar()" alt="">
            </div>
            <div *ngIf="!navbarAjustado">
                <!-- <p id="ajustar" (click)="ajustarNavbar()" >ajustar</p> -->
                <img class="ajustarNavbar" src="../../../assets/img/back.png" (click)="ajustarNavbar()" alt="">
            </div>
        </div>
        
    </div>
</div>

<!-- inicio - Modal (Sair da conta)-->
<div
  mdbModal
  #modalLogout="mdbModal"
  class="modal fade top"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="overflow-y: auto"
>
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title text-white w-100">Sair da conta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalLogout.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-form d-flex justify-content-center text-center">
                    <h5>Realmente deseja sair da sua conta administrativa?</h5>
                </div>
                
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-outline-success rounded mr-2" id="btnEnviarEmail">Confirmar</button>
                    <button type="button" class="btn btn-outline-danger rounded ml-2" (click)="modalLogout.hide()">Voltar</button>
                </div>
                
            </div>
        </div>
        
    </div>
</div>

<!-- fim - Modal (status-Pagamento Confirmado -->