
<section class="flex-column col-12">
    <header class="d-flex justify-content-between col-12">
        <h1>Pedidos</h1>
        <div>
            <h3>Pano Online</h3>
        </div>
    </header>

    <div>
        <div class="mt-1 col-12 d-flex">
            <label class="mt-1 mr-3">Pesquisar pedido: </label>
            <div class="input-group mb-3 col-4">
                <input type="text" class="form-control" placeholder="id do pedido ou cpf do cliente" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-dark" type="button" id="pesquisa">
                        <img src="../../../assets/img/search.png" height="18px" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>